@import url(colors.css);
.article{
    font-size: 20px;
    text-align: left;
    width: 85%;
    word-wrap: break-word;
    border-radius: 5px;
    margin-bottom: 3%;
    padding: 2%;
}

pre.highlight, code.language-plaintext{
    background-color: rgb(32, 32, 32);
    font-size: 18px;
    padding: 1%;
    border-radius: 5px;
    border: var(--color-dark) 2px solid;

    overflow: auto;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
}

code.language-plaintext{
    padding: 2px 5px;
    border-radius: 5px;
}

.article-text > ol,ul{
    margin-left: 3%;
}

.article-text > ol,ul > li{
    margin-bottom: 2%;
}
.centered{
    text-align: center;
    margin-bottom: 2%;
}

.category{
    font-size: 10px;
}

img{
    width: 100%;
}

.jump-to-part{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2%;
}

.series-part-link{
    display: block;
    width: 30%;
    padding: 2%;

    border: var(--color-dark) 3px solid;
    border-radius: 3px;
}

.jump-title{
    text-decoration: underline;
}

.next-part{
    margin-left: auto;
    text-align: right;
}

blockquote{
    padding-left: 10px;
    border-left: var(--color-blue) 10px solid;
}

blockquote > p{
    color: #BECDD6;
}

.img-small{
    width: 10%;
}

.subtext{
    font-size: x-small;
}

.article-text > *{
    padding: 1%;
}

div.article-text > h3::before, h2::before{
    content: "> ";
}